{#
/**
 * @file
 * Default theme implementation to display a formatted video field.
 *
 * Available variables:
 * - items: A collection of videos.
 * - player_extension: Type of video file.
 * - player_image_path: Default Image path.
 * - player_attributes: Player options including the following:
 *   - width: The width of the video (if known).
 *   - height: The height of the video (if known).
 *   - autoplay: Autoplay on or off
 * 
 *
 * @ingroup themeable
 */
#}
<div id="username"></div>
<div id="airlock">
<audio data-setup="{}" id="vjs_ova_{{ get_nid }}" class="video-js vjs-default-skin" poster = "{{ player_image_path }}" preload="{{ player_attributes.preload }}" {{ player_attributes.controls ? 'controls' : '' }} width="640" height="264" {{ player_attributes.autoplay ? 'autoplay' : '' }} {{ player_attributes.loop ? 'loop' : '' }} {{ player_attributes.muted ? 'muted' : '' }}>
  {% for user in items %}
    <source src="{{ user }}" type="audio/{{ player_extension }}"/>
  {% endfor %}
</audio>
</div>
